<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <main class="container-fluid ">
        <div class="row my-5">
            <h1 class="col text-center">To Do List <b>Django</b></h1>
        </div>
        <div class="row justify-content-center py-5">

            <div class="col-6 row justify-content-center h-50 p-5">
                {% if update %}
                <form class="w-75" method="post" action={% url "update" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                            <label for="titulo" class="form-label">Subject</label>
                            <input type="text" value="{{ update.titulo }}" class="form-control" name="titulo" id="titulo" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                            <label for="descripcion" class="form-label">Description</label>
                            <textarea type="text" name="descripcion" class="form-control" id="descripcion">{{ update.descripcion }}</textarea>
                    </div>
                    <input type="hidden" name="id" value="{{ update.id }}" />
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </form>
                {% else %}
                <form class="w-75" method="post" action={% url "insert" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" name="titulo" id="titulo" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <textarea type="text" name="descripcion" class="form-control" id="descripcion"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Anadir</button>
                </form>
            </div>
            {% endif %}

            <div class="col-5 container justify-content-center">
            {% for data in tareas %}
               <div class="row">
                <div class="card w-75 col m-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.titulo }}</h5>
                        <p class="card-text">{{ data.descripcion }}</p>
                        <a href={% url "update_form" data.id %} class="btn btn-primary">Modificar</a>
                        <a href={% url "borrar" data.id %} class="btn btn-danger">Borrar</a>
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>